body {
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
  background: url('../images/bg.png');
}
* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #888;
}
a:hover {
  color: #000;
}

.border h1, .border h2 {
  color: #797a7d;
  margin: 0;
  font-family: 'jbt-annabelle';
  font-size: 51px;
  position: absolute;
  top: -33px;
  left: -16px;
  line-height: 71px;
}

h3 {
  font-family: "Times New Roman", serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin: 15px 0 5px 0;
}

section.border {
  border: solid 1px #ddd;
  border-radius: 10px;
  padding: 15px 40px 40px 40px;
  background-color: rgba(255,255,255,0.5);
  position: relative;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -70px;
}
.wrapper .container {
  padding-bottom: 70px;
}
#content {
  margin-bottom: 50px;
}

/* Layout */

#logo {
  margin-top: 20px;
}

#banner {
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
}
#banner img {
  border-radius: 8px;
  padding: 2px;
  border: solid 1px #bbb;
}

#contact {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1px;
}
#contact > span {
  padding: 0px 10px 0 12px;
}

#hours {
  font-size: .9em;
}
#hours p {
  margin: 0;
}

#menus {
  padding-top: 32px;
}
#menus a {
  display: block;
  margin-bottom: 10px;
}


.open-table {
  margin-top: 60px;
}
.open-table.border {
  padding-top: 20px;
  padding-bottom: 20px;
}
.open-table .OT_wrapper {
  border: none;
  background-color: transparent;
}
.open-table h1 {
  display: none;
}
.open-table h2.OT_subtitle {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 8px;
  top: 22px;
  left: 10px;
  line-height: 20px;
}
.open-table .OT_list {
  width: 730px;
  margin: 0 auto;
  margin-top: 8px;
}
.open-table li {
  border: none;
  height: 50px;
  width: auto;
  margin-left: 20px;
}
.open-table input {
  width: 130px;
}

#contact span {
  border-right: solid 1px #888;
  padding: 0px 13px;
}
#contact span:last-child {
  border-right: none;
}

.social a {
  margin-right: 7px;
}
.social img {
  vertical-align: top;
  margin-top: 2px;
  filter: url(filters.svg#grayscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.social a:hover img {
  filter: none;
  -webkit-filter: grayscale(0);
}

.page-content {
  margin-top: 65px;
  line-height: 30px;
  text-align: left;
}
.page-content img {
  border-radius: 6px;
  padding: 1px;
  border: solid 1px #ccc;
}
.page-content .alignright {
  float: right;
  margin: 0 0 10px 25px;
}
.page-content .alignleft {
  float: left;
  margin: 0 25px 10px 0;
}

#footer {
  background: #797a7d;
  padding: 5px 50px;
  clear: both;
}
#footer ul {
  list-style: none;
  margin-bottom: 0;
}
#footer li {
  display: inline;
  padding: 4px 10px;
  border-right: solid 1px #888;
}
#footer li:last-child {
  border-right: none;
}
#footer a {
  color: #bbb;
}
#footer a:hover {
  color: #ddd;
}
#footer .current, #footer .current:hover {
  color: #fff;
}
#footer .legal {
  font-size: 11px;
  color: #333;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .open-table #OT_form {
    margin-top: 30px;
    width: auto;
  }
  .open-table .OT_wrapper {
    float: none;
    width: auto;
  }
  .open-table .OT_list {
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none !important;
  }

  #contact > span {
    display: block;
    border: none;
  }
  /* fancy headers are less fancy */
  .border h1, .border h2 {
    font-family: 'jbt-annabelle';
    font-size: 30px;
  }
  #menus {
    margin-top: 30px;
  }
}
